@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@creativebulma/bulma-divider@1.1.0/dist/bulma-divider.min.css');

body {
    font-family: 'Comfortaa', Sans-Serif;
}

.button,
.input {
    border-radius: 25px;
    transition: 0.2s;
}

@media (min-width: 666px) {
    html {
        zoom: 125%;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #0d1423F2;
    }

    .navbar,
    #loader-wrapper,
    .footer,
    .has-background-magi {
        background-color: #0d1423;
    }

    .box {
        background-color: #6ac2ee25;
        box-shadow: 0 0 5px #00000066 !important;
    }

    .input {
        background-color: #6ac2ee37;
    }

    .img-load {
        height: 150px;
        content: url("../images/magi2021_light.png");
    }

    #logo {
        content: url("../images/magi2021banner_dark.png");
    }
}

@media (prefers-color-scheme: light) {
    html {
        background-color: #e0f5ff;
    }

    p,
    span {
        color: hsl(0, 0%, 7%);
    }

    .box {
        background-color: #6ac2ee27;
    }

    .navbar,
    #loader-wrapper,
    .footer,
    .has-background-magi {
        background-color: #6ac2ee;
    }

    .input {
        background-color: #6ac2ee37;
    }

    .img-load {
        height: 150px;
        content: url("../images/magi2021_dark.png");
    }

    #logo {
        content: url("../images/magi2021banner_light.png");
    }
}

.notification {
    display: none;
    margin: 0;
    position: fixed;
    max-width: 30em;
    bottom: 0;
    right: 0;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 777;
}

.load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
